    /*Fuentes*/

    @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Literata');

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--clean);
    
    /*Variables*/
    --fresh:#4abdac;
    --sunshine:#f7b733;
    --clean:#dfdce3;
    --vermillion:#fc4a1a;

}

html{
    scroll-behavior:smooth;
}

body {
    background: var(--fresh);
}

/*NavBar*/

ul{
    padding: 0px;
}

.listContainer ul{
    display: flex;
    justify-content: center;
}

li{
    margin: 20px;
    text-align: center;
}

a{
    color: var(--clean);
    transition: all 2 linear;

}

a:hover{
    color:var(--vermillion);
}


/*Info*/

.infoContainer{
    text-align: center;
    margin: 20px;
}

h1 {
    font-family:'Gloock' ;
    font-size: 50px;
    color: var(--vermillion);
}


.infoContainer p{
    max-width: 800px;
    margin: 0px auto;
    color: var(--clean);
}

.fraseContainer{
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    background-color: var(--sunshine);
}

/*Trabajos y proyectos*/

h3{
    font-family:'Gloock';
    letter-spacing: 2px;
    color: var(--clean);
}

.expContainer{
    text-align: center;
    margin: 20px;
}

.proyectosContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyecto{
    min-width: 250px;
    min-height: 350px;
    margin: 20px;
    border: 1px solid var(--clean);
}

.proyecto p b {
    color: var(--clean);
}

.proyecto p{
    color: var(--clean);
}

.proyecto a {
    padding: 5px;
    border-radius: 15px;
    background-color: #f7b733;
}

a:focus-visible{
    border: none;
}

/*Conocimientos*/

p b {
    font-family:'Gloock';
    letter-spacing: 2px;
    color: var(--clean);
    padding: 10px;
    border-radius: 15px;
    background-color: var(--vermillion);
}

.conocimientos{
    text-align: center;
}

.conocimientosContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conocimiento{
    margin: 5px;
    min-width: 250px;
}

/*Contacto*/

.contactoContainer{
    text-align: center;
    margin: 20px;
}